body{
	
	background:#d2d5d6;
	position:relative ;
	
}
#page{
	position: absolute;
	width:800px;
	margin-left:250px;
	padding-right:10px;
	padding-left:10px;
}
.lien{
	
	text-align:right;
	padding-right:10px;
	font-size:20px;
	
}
a:hover{
	color:#2D9413;
}



#conteneur
{
  display:flex;
 
  justify-content:space-between;
  
}

.element{
	height:1100px;
	
	list-style-type:none;
	
	
}

.element:nth-child(1)
{
    background:#FFFFFF;
	flex:1;
	padding-left: 15px;
	padding-right: 15px;
	
	
	
}

.element:nth-child(2)
{
    background:#FFFFFF;
	padding-left: 5px;
}
h4{
		font-size:24px;
		
		font-family:sitka;
}



nav{
	
	font-family:segoe print;
	font-weight:bold;
    background:#36E3EE;
	
}
.logo{
	padding-top:10px;
	
	
}
h2{
	
	color:#050505;
	padding-left: 150px;
	
	margin-top:0px;
	display:flex;
	font-size:20px;
	margin-bottom:1px;
	
}

h3{
	color:#2B0FED;
	font-family: script mt;
	font-size:24px;
	
}

p{
	
	font-family:corbel;
	font-weight:bold;

}
li a{
	
	color:#C42FDC;
	text-align:right;
	
	font-style:italic;
	
    font-size:26px;	
	font-weight:bold;
	
    
}
#logo2{
	margin-top:80px;
	
}
.menu{
	
	padding:5px;
	margin-top: 150px;
}
img{
	
	padding-left:10px;
	
}


#pied{
	
	
	
	background:black;
	color:white;
	padding-left:10px;
	display:flex;
	font-family:corbel;
	font-weight:bold;
	
}
.pied1{
	
	padding-left:10px;
	
}
.pied2{
	
	padding-left:50px;
}

.logo1{
	
	padding-left:0px;
	
	
}
ul{
	
	list-style-type:none;
}

