body{
	
	background:#B2B6B7;
	position:relative;
}
.entete{
	padding:20px;
    font-family:segoe print;
	font-weight:bold;
	background:#9596a1;
	
	
}
#logo{
	border-radius: 5px;
}
#page{
	width:800px;
	margin-left:250px;
	
}
.lien{
	
	
	font-size:20px;
	text-align: right;
	color:#FFFFFF;
	
	
	
}
a:hover{
	color:#E5191A;
}

a{
	color:#FFFFFF;
}

#bloc-page{
	
	height:1000px;
	padding-top:20px;
	display:flex;
	background:#FFFFFF;
	padding-left:20px;
	padding-right:20px;
	
	
}
.bloc1{
	
	padding-right:20px;
	
	
	
}

.bloc2{
	
	
	padding-left:20px;
	
}
h1{
	
	font-size:24px;
	font-family:corbel;
	color:#78607C;
	
}
h4{
	font-family:comic sans ms;
	color:#78607C;
}
p{
	font-family:corbel;
	font-weight:bold;
}


.image{
	
	margin-right:20px;
	margin-top:20px;
	float:left;
}



#pied{
	
	height:300px;
	
	
	background:black;
	color:white;
	padding-left:10px;
	display:flex;
	font-family:corbel;
	font-weight:bold;
	
}
.pied1{
	
	padding-left:10px;
	
}
.pied2{
	
	padding-left:50px;
}



.table{
	border:solid #222225;
}
.column{
	font-family:arial rounded mt;
	
}
#button{
	background:#318307;
	color:#FFFFFF;
	margin-top:10px;
}
.border{
	border:solid #9D9DA1;
}