body{
	
	background:#B2B6B7;
	position:relative;
}
#page{
	width:800px;
	margin-left: 250px;
	position:absolute;
}
.entete{
	position:relative;
	font-size:24px;
	color:#FFFFFF;
	font-family:segoe print;
	font-weight:bold;
	
	
	background:#8ac9e5;
	
}

.logo{
	position:absolute;
    border-radius: 5px;
	padding-left:10px;
	padding-top: 10px;
}
.lien{
	padding-right:10px;
	text-align:right;
	
	
}
a:visited{
	color:#eb3ca8;
}

#contenu_page{
	
    
    height:600px;
	font-family:sylfaen;
	
	
	display:flex;
	background:#FFFFFF;
	
	
	
	
}
center h1{
	padding-top:20px;
	
	
}
#ligne{
	padding-top:20px;
	padding-left:30px;
	
}
.article{
	padding-top:50px;
	padding-left:30px;
	
	
}
.bloc1{
	
	width:600px;
	background:#FFFFFF;
	padding-left:10px;
	padding-right:5px;
	height:395px;
	
	
	
}
.bloc2{
	background:#5CC7ED;
	
	margin:200px 30px 200px 10px;
	padding:5px 5px 5px 10px;
	font-family:comic sans ms;
	font-size:24px;
	box-shadow:6px 6px 0px black;
	border:solid;
	border-radius: 5px;
	
	
}

input{
	background:#0D7A10;
	color:#F8FBF8;
	padding-right:10px;
	border-radius:5px;
	width:150px;
	height:50px;
	margin-left:80px;
	
	

	
	
}	


.image{
	float:left;
	
}
img{
	
	margin-right:5px;
}
h3{
	color:#5CC7ED;
	padding-left: 30px;
	
}
h2{
	
	color:#050505;
	padding-left: 150px;
	display:flex;
	
	padding-bottom:0px;
	
}



#conteneur
{
  display:flex;
 
 
  
  border-radius:5px;
 
  
}
.titre{
	
	
	padding-left:30px;
	margin-top:80px;
}



.art1
{
    background:#FFFFFF;
	
	flex:2;
	padding-left: 30px;
	padding-right:50px;
	
	
	
	
}

.art2
{
    background:#FFFFFF;
	 
	flex:1;
	padding-left: 5px;
	padding-right:30px;
		
}
.art3{
	
	flex:3;
	
	padding-right:30px;
	
	background:#FFFFFF;
	
}

#pied{
	
	
	
	background:black;
	color:#FFFFFF;
	padding-left:20px;
	display:flex;
	font-family:corbel;
	font-weight:bold;
	
}
.pied1{
	
	padding-left:10px;
	
}
.pied2{
	
	padding-left:50px;
}

.logo1{
	
	padding-left:0px;
	margin-left:10px;
	border-radius: 5px;
	
	
}
p{
	font-family:corbel;
	font-weight:bold;
}
h1{
	text-align:center ;
}